<div class="new-booking">
  <%= simple_form_for [@instrument, @booking] do |f| %>
    <%= f.input :booking_startdate %>
    <%= f.input :booking_enddate %>
    <%= f.submit %>
  <% end %>
</div>
<br>

<%= link_to "View all my bookings", bookings_path, class:"homecontent" %>
