<h2>Lend an instrument</h2>
<%= simple_form_for(@instrument) do |f| %>
  <%= f.input :category, label: 'Instrument' %>
  <%= f.input :price, label: 'Price in Euros'%>
  <%= f.input :serial, label: 'Serial Number' %>
  <%= f.input :address, required: true, label: 'Full Address: Number, Street, City, Country' %>
  <%= f.input :photo, as: :file, required: true%>
  <%= f.submit %>
<% end %>

<%= link_to "Go home", instruments_path, class:"homecontent" %>
