<div class="instrumentdetail">
<%= cl_image_tag @instrument.photo.key, height: 230, width: 280, crop: :fill %>
  <h2> <%= @instrument.category %> </h2>
  <h3>$<%= @instrument.price %> </h3>
  <h4>#<%= @instrument.serial %></h4>
</div>
<%= link_to "Go back", instruments_path, class:"homecontent" %>
<%= link_to "Proceed to booking", new_instrument_booking_path(@instrument), class:"homecontent" %>
